.login_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f6ff;
}

.login_wrapper {
  min-width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.identic_block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 30px;
  background-color: white;
  box-shadow: none;
  border: var(--strokeWidthThin) solid var(--colorNeutralStroke1);
  border-radius: var(--borderRadiusLarge);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {
  color: var(--colorNeutralForeground1);
}
