.panel {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.panels {
    width: 100%;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field {
    display: flex;
    align-items: center;
    flex: 2;
}

.label {
    flex: 1;
}

.field_max {
    @extend .field;
    height: 280px;
    align-items: flex-start;
}

.input {
    width: 100%;
}

.input_max {
    @extend .input;
    height: 100%;
}