.input_block {
    display: flex;
    flex-direction: column;
}

.dialog_content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details_item {
    display: flex;
}

.material_block {
    display: flex;
    gap: 8px;
}

.material_input {
    flex: 2;
}

.material_count {
    flex: 1;
}