.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  height: var(--headerHeight);
  position: fixed;
  top: 0;
  width: calc(100% - 16px);
  z-index: 100;
  background-color: var(--colorCompoundBrandStroke);
  box-shadow: var(--shadow16);
}

.root {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}
