.sidebar {
  overflow-y: auto;
  z-index: 99;
}

.group {
  padding: 15px 0;
}

.desktop {
  position: fixed;
  width: 200px;
  height: 100%;
  left: 0;
}

.mobile {
  display: flex;
  top: 48px;
  position: sticky;
  background-color: var(--backgroundColor);
}

.root {
  padding: 10px;
}
