@import '.././../App.module.scss';

.header {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  background-color: $background_color;
  z-index: 99;
}

.content {
  padding: 15px;
  background-color: white;
  box-shadow: var(--shadow8);
  border-radius: var(--borderRadiusLarge);
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 160px);
}

.content_mobile {
  @extend .content;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
}

.filter {
  padding: 15px;
  background-color: white;
  box-shadow: var(--shadow8);
  border-radius: var(--borderRadiusLarge);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  position: sticky;
}

.wrapper {
  padding: 10px;
}
