code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
html,
#root,
.provider {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
  background-color: #faf9f8;
}
