:root {
  --backgroundColor: #faf9f8;
  --headerHeight: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
html,
#root,
.provider {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: auto;
  background-color: var(--backgroundColor);
}
